.articles-bg {
  padding: 100px 20px 100px 20px;
  background-color: #fafafa;
}

.articles-bg h1 {
  font-weight: 500;
  font-size: 2rem;
  color: #2D314D;
  margin-bottom: 20px;
}

.article__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 4fr));
  gap: 20px;
}

.article__grid .grid__item {
  background-color: #ffff;
}

.item__img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.grid__text {
  padding: 20px;
}

.article__grid .grid__item span {
  font-size: 1rem;
  color: #9698a6;
  display: block;
  margin-bottom: 10px;
}

.article__grid .grid__item a {
  color: black;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.article__grid .grid__item a:hover {
  color: #31D35C;
}

.article__grid .grid__item p {
  margin-bottom: 5px;
}

@media (max-width:1000px) {
  .article__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:530px) {
  .article__grid {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .articles-bg h1 {
    text-align: center;
  }

  .article__grid .grid__text {
    padding: 30px;
  }
}

@media(max-width:600px) {
  .item__img img {
    height: 200px;
  }
}