.footer-bg {
  background-color: #2D314D;
  padding: 50px 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}

.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.footer__item>a {
  color: #ffff;
  font-size: 1.2rem;
}

.footer__item a:hover {
  color: #31D35C;
}

.footer__item .redes img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}


.footer__item .logo {
  color: white;
  width: 200px;
  margin-bottom: 20px;
}

.footer__item .btn,
.footer__item span {
  align-self: center;
}

@media (max-width:1000px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
  }

  .footer__item {
    flex-direction: row;
  }
}

@media (max-width:530px) {
  .footer__item {
    flex-direction: column;
    text-align: center;

  }

  .footer__item .btn,
  .footer__item span {
    margin: 0 auto;
  }

}