header {
  position: relative;
  z-index: 2;
  background-color: white;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 30px;
  font-weight: 400;
}

ul li a {
  color: #2D314D;
  font-size: 1rem;
}

ul li a:hover {
  padding-bottom: 20px;
  border-bottom: 3px solid #31D35C;
}

.hamburger-menu {
  display: none;
}

@media (max-width:800px) {

  nav ul,
  nav a:nth-child(3) {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
}